.form__container{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: rgb(154, 163, 215);
  color: white;
  column-gap: 20px;
  height: 100px;

  div{
    display: flex;
    flex-direction: column;
  }

  label {
    width: 100%;
    float: left;
    padding: 0.3rem 0;
  }

  input {
    padding: 0.5rem 1.2rem;
    border: 1px solid black;
    background-color: beige;
    border-radius: 0.5rem;
  }

  button {
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(147, 50, 226, 0.447);
    width: 300px;
    padding: 0.8rem 0;
    color: white;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
      transition: 0.5s;
    }
  }
}